<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="bolt_holder" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="world" />

  <joint name="bolt_holder_joint" type="fixed">
    <origin xyz = "0 0 0" rpy="0 0 0 "/>
    <parent link = "world"/>
    <child link = "bolt_holder"/>
  </joint>

  <link
    name="bolt_holder">
    <inertial>
      <origin
        xyz="4.5698E-05 -0.0054023 0.013672"
        rpy="0 0 0" />
      <mass
        value="2.7" />
      <inertia
        ixx="0.00018273"
        ixy="-4.9076E-07"
        ixz="1.6324E-08"
        iyy="0.00040999"
        iyz="-1.48E-05"
        izz="0.00055097" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://cai_env/meshes/bolt_holder.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.12549 0.46667 0 1" />
        <texture
          filename="package://cai_env/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://cai_env/meshes/bolt_holder.STL" />
      </geometry>
    </collision>
  </link>
</robot>